/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(207, 65%, 65%);
  /* --title-color:rgb(18, 2, 62); */
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
      hsla(180, 25%, 3%, 0),
      rgb(210, 210, 216));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Dosis', sans-serif;
  --title-font: 'Dosis', sans-serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 1rem;
  --smaller-font-size: .95rem;
  --tiny-font-size: .85rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

::selection{
  background-color: var(--title-color);
  color: var(--text-color);

}
/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

/* ===============cursor style============== */



/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background .4s;
  /* cursor: none; */
  /* for dark mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__buttons {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;


}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;

}

/*========== Variables Dark theme ==========*/

body.dark-theme {
  --title-color: hsl(207, 4%, 95%);
  --text-color: hsl(207, 4%, 65%);
  --body-color: hsl(207, 4%, 10%);
  --container-color: hsl(207, 4%, 12%);

  transition: background .4s;
  /*for dark mode animation*/
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

.dark-theme .scrollup {
  background-color: var(--container-color);

  box-shadow: 0 4px 20px hsl(207, 24%, 8%, .4);
}


.dark-theme .home__shape-wawes,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img {
  filter: invert(1);
}

.dark-theme .home__social-link {
  color: var(--title-color);
}

.dark-theme .section__border {
  border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar {
  background-color: var(--title-color);
}

.dark-theme .nav__menu {

  background-color: var(--container-color);



}

.dark-theme .nav {

  background-color: var(--container-color);


}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: var(--title-color);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1100px;
  margin-inline: 1.5rem;
  box-sizing: 5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}



.theme-dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
 
}
.themes-text{
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0.7em;
  border: 0.5px solid var(--text-color);
  border-radius: 1.5em;

animation: colorChange 30s infinite;
}

@keyframes colorChange {
  0% {
    color: rgb(220, 20, 20); /* Red */
    border-color: rgb(220, 20, 20); /* Red */
  }
  20% {
    color: rgb(0, 255, 0); /* Green */
    border-color: rgb(0, 255, 0); /* Green */
  }
  40% {
    color: rgb(33, 33, 207); /* Blue */
    border-color: rgb(43, 43, 228); /* Blue */
  }
  60% {
    color: rgb(255, 255, 0); /* Yellow */
    border-color: rgb(255, 255, 0); /* Yellow */
  }
  80% {
    color: rgb(255, 0, 255); /* Magenta */
    border-color: rgb(255, 0, 255); /* Magenta */
  }
  100% {
    color: rgb(0, 255, 255); /* Cyan */
    border-color: rgb(0, 255, 255); /* Cyan */
  }
}





.theme-changers{
  display: flex;
  align-items: center;
  gap: 1em;
  transition: 1s;
}
.theme-changers:hover{
  scale: 1.2;
}
.theme-changers img{
  width: 30px;
  height: 30px;
  display: none;

}
.theme-list {
  padding: 1em; display: flex;
  flex-direction: column;
  column-gap:1em ;
  align-items: center;
  justify-content: center;
  gap: 1em;
  right: 0;
  color: var(--text-color);
  display: none;
  position: absolute;
  background-color: var(--body-color);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 1s;
  border-radius: 1em;
}

.theme-list li {
  text-align: center;
  cursor: pointer;
}
.theme-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

.theme-dropdown:hover .theme-list {
  display: flex;
}

@media screen and (max-width: 768px) {

  .theme-list{
   bottom: 0;
  }
  .theme-changers .t-text-d{
    display: none;
  }
 
  .theme-changers img{
    display: flex;
  }

}




.main {
  overflow: hidden;
  /* For animation */
}

/*=============== HEADER & NAV ===============*/

.header {
  width: 100%;
  position: fixed;

  bottom: 2rem;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: calc(var(--header-height) + .5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 20px hsl(207, 24%, 35%, .1);
  padding-inline: 1.5rem;

  border-radius: 3rem;

  transition: background .4s;
  /*for dark mode animation*/


}


.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--title-color);
}

.nav__logo {
  font-family: var(--title-font);
  font-weight: var(--font-medium);

}
.nav__logo{
font-size: 2em;

font-weight: 800;
}
@media screen and (max-width: 768px) {
  .nav__logo{
    font-size: 1em;
  }
}
.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;

}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 80%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2rem;
    transition: bottom .3s;
    z-index: 99;


  }
}

.nav__list {
  grid-template-columns: repeat(3, max-content);

  align-items: center;
  gap: 2rem 3rem;

}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: color .3s;
  transition: transform .3s;
}

.nav__link:hover {
  color: var(--title-color);
  transform: translateY(-.25rem);

}

.nav__link i {
  font-size: 1.25rem;
}

.nav__close {

  position: absolute;
  left: 1.5rem;
  bottom: .7rem;
  font-size: 1.5rem;
  cursor: pointer;

}

/* Show menu */
.show-menu {
  bottom: 2rem;
}

/* Active link */
.active-link {
  color: var(--title-color);

}

/*=============== HOME ===============*/
.home__container {
  row-gap: 1.5rem;
}

.home__title {
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: .3px;
  margin-bottom: .5rem;


}

.home__blob {
  position: relative;
  width: 200px;
  height: 290px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 6.25rem;
  place-items: center;
  transition: background .4s;
  animation: imageUpDownAnimation 1.5s ease infinite alternate;
  /* Apply up-and-down animation to image */

  /*for dark mode animation*/


}

.home__perfil {
  width: 170px;
  height: 256px;
  background: var(--gradient-color);
  border-radius: 5.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;



}

.home__perfil img {

  width: 500px;
  padding-top: 2rem;
  overflow: auto;
  transition: 2s;
  cursor: pointer;



}




@keyframes imageUpDownAnimation {
  0% {
    transform: translateY(0);
    /* Start with no translation */
  }

  100% {
    transform: translateY(-10px);
    /* Translate image upward */
  }
}









.home__shape-wawes,
.home__shape-circle {
  position: absolute;
  opacity: .1;


}

.home__shape-wawes {

  width: 50px;
  left: -2rem;
  top: 5rem;

}

.home__shape-circle {
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(180deg);
  z-index: -2;


}

.home__social {
  justify-content: center;
  display: flex;
  column-gap: 1.25rem;

}

.home__social-link {
  font-size: 1.25rem;
  color: var(--text-color-light);
  transition: color .3s;
  transition: transform .3s;


}

.home__social-link:hover {
  color: var(--title-color);
  transform: translateY(-.25rem);

}

.home__info {
  display: grid;
  row-gap: 2rem;

}

.home__info-title {
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1rem;

}

.home__info-number,
.home__info-description {
  font-family: var(--title-font);
  color: var(--title-color);
}

.home__info-description {
  padding-right: 4rem;
}

/* .home__title{ text-transform: uppercase;
  background-image: url(https://png.pngtree.com/background/20210712/original/pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg) ;
 background-size: cover;
 font-weight: 800;

  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
 } */

/* .home__title{
 
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #aba9b4 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 20s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */

.home__info-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);

}

/*=============== SKILLS ===============*/
.skills__container {
  row-gap: 3.25rem;

}

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
  transition: transform .3s;


}

.skills__title:hover {
  transform: translateY(-.25rem);
  ;
}

.skills__title i {
  font-size: 1rem;
  font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob {
  display: grid;

}

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills__data {
  justify-content: center;
  text-align: center;

}

.skills__blob {
  width: 100px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  transition: background .4s;
  /*for dark mode animation*/


}

.skills__blob img {
  width: 40px;
}

.skills__name {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.skills__subtitle {
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);

}

.skills__blob:hover img {
  animation: bounce-skills .6s;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translate(0);

  }

  60% {
    transform: translateY(-3px);
  }

  80% {
    transform: translate(0);
  }
}

/* Animation skills */


/*=============== QUALIFICATION ===============*/
.qualification {

  position: relative;

}

.qualification__container {

  row-gap: 3.5rem;
  justify-content: center;
  /* column-gap: 3.25rem; */
}

.qualification__title {

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  padding-bottom: 2rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);

}

.qualification__title i {
  font-size: 1rem;
  font-weight: initial;



}

.qualification__info {
  /* width: 100%; */
  justify-content: center;
  display: flex;
  column-gap: 3rem;

  /* justify-content: center; */


}


.qualification__name {
  font-size: var(--normal-font-size);
  margin-bottom: 1.25rem;

}

.qualification__country,
.qualification__year {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.qualification__country {
  /* margin: .75rem; */

}

.qualification__img {
  width: 150px;
  position: absolute;
  right: -3rem;
  bottom: 12rem;
  transform: rotate(15deg);
  opacity: .1;


}


.qualification__info .work-detailsss {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  width: 500px;
  height: 250px;
  line-height: 1.5;
  flex: wrap;
  border-radius: 20px;
  background-color: var(--container-color);
  cursor: pointer;
  transition: 0.5s;

}
.qualification__info .work-detailsss:hover{
  scale: 1.1;
}


/*=============== SERVICES ===============*/
.services__container {
  row-gap: 2.5rem;
  justify-content: center;

}

.services__card {
 
  position: relative;
  width: 255px;
  height: 370px;
  background-color: var(--container-color);
  text-align: center;
  padding: 3.5rem 1rem;
  border-radius: 7.25rem;
  box-shadow: 0 4px 12px hsl(207, 24%, 35%, .15);


}

.services__card i {
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .75rem;
  transition: transform .8s;
  transition: background .4s;
  /*for dark mode animation*/


}

.services__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.5rem;

}

.services__border {
  width: 275px;
  height: 380px;
  border: 1.8px solid var(--text-color-light);
  border-radius: 7.75rem;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  z-index: -1;
  transition: opacity .6s;
  opacity: 0;
}

.services__card:hover i {
  transform: rotateY(360deg);
}

.services__card:hover .services__border {
  opacity: 1;
}

/*=============== PROJECTS ===============*/
.projects__container {
  overflow: initial;
}

.projects__content {
  display: grid;
  justify-content: center;

}

.projects__img {
  width: 250px;
  border-radius: .75rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 5px 12px hsl(207, 24%, 35%, .15);


}

.projects__subtitle {
  font-size: --small-font-size;
  color: var(--text-color-light);

}

.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;

}

.projects__button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);

}

.projects__button i {
  font-size: 1rem;
  transition: transform .3s;


}

.projects__button:hover i {
  transform: translateY(.25rem);

}

/* Swiper class */
.projects__container .swiper-button-prev::after,
.projects__container .swiper-button-next::after {
  content: " ";
}

.projects__container .swiper-button-prev,
.projects__container .swiper-button-next {
 
  width: initial;
  height: initial;
  margin: initial;

  font-size: 2.5rem;
  color: var(--title-color);


}

.projects__container .swiper-button-prev {
  left: -1rem;
  top: 4.5rem;

}

.projects__container .swiper-button-next {
  right: -1rem;
  top: 4.5rem;

}

.projects__container .swiper-slide {
  margin-bottom: 4.5rem;

}

.projects__container .swiper-pagination-bullets {
  bottom: 0;

}

.projects__container .swiper-pagination-bullet {
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects__container .swiper-pagination-bullet-active {
  background-color: var(--title-color);


}

/*=============== TESTIMONIAL ===============*/
.testimonial {
  position: relative;
}

.testimonial__container {
  text-align: center;

}


.testimonial__description {
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 1.5rem;

}

.testimonial__name {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  margin-bottom: .25rem;

}

.testimonial__subtitle {
  font-size: small;
  color: var(--text-color-light);

}

.testimonial__img {
  width: 70px;
  transform: rotate(30deg);
  position: absolute;
  top: 5rem;
  right: -1.5rem;
  opacity: .1;

}



/* Swiper class */
.testimonial__container .swiper-slide {
  margin: auto;
 
}

.testimonial__container .swiper-button-prev::after,
.testimonial__container .swiper-button-next::after {
  content: '';
}

.testimonial__container .swiper-button-prev,
.testimonial__container .swiper-button-next {
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2rem;
  color: var(--title-color);
  bottom: .5rem;


}

.testimonial__container .swiper-button-prev {
  left: calc(50% - 3rem);


}

.testimonial__container .swiper-button-next {
  right: calc(50% - 3rem);

}

.testimonial__container .swiper-button-disabled {
  opacity: initial;
  color: var(--text-color-light);

}

/*=============== CONTACT ===============*/
.contact__container {
  display: flex;
  row-gap: 3.5rem;

}

.contact {
  width: 100%;
  margin: auto;
}

.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;

}

.contact__title i {
  font-size: 1rem;
  font-weight: initial;

}

.contact__info,
.contact__data,
.contact__form {
  display: grid;
}

.contact__info {
  row-gap: 1rem;


}

.contact__data {

  row-gap: 1rem;
}

.contact__data-title {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  row-gap: 1rem;

}

.contact__data-info {
  font-size: var(--small-font-size);
  font-family: var(--title-font);
  color: var(--title-color);



}

.contact__button {
  width: max-content;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);

}

.contact__button i {
  font-size: 1rem;
  transition: transform .3s;

}

.contact__button:hover i {
  transform: translateX(.25rem);
}

.contact__form {
  position: relative;
  row-gap: 2rem;
}

.contact__form-div {
  position: relative;
  height: 4rem;
}

.contact__form-input {
  color: var(--text-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1.5px solid var(--text-color-light);
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  background: none;
  outline: none;
  z-index: 1;
  transition: 1s;

}
.contact__form-input:focus{
  border: 1.5px solid var(--title-color);
}
.proj-msgs{
  
  height: 8em;
}

.contact__form-tag {
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
  transition: background .4s;
  /*for dark mode animation*/



}





.contact__form .contact__button {
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  background-color: var(--container-color);
  padding: 0.8em;
  border-radius: 0.5em;
}

.contact__form .contact__button i {
  font-size: 1.5rem;
  font-weight: initial;

}

.conrtact__message {
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;

}

/* Status color */
.color-red {
  color: hsl(4, 71%, 50%);

}

.color-blue {
  color: var(--title-color);


}

/*=============== FOOTER ===============*/


.footer__container {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;

}

.footer__list li {
  list-style: none;
}

.footer__title {
  text-align: center;
  font-size: var(--h1-font-size);


}

.footer__list,
.footer__social {

  column-gap: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__list {

  display: flex;
  align-items: center;
  justify-content: center;



}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  text-decoration: underline;

}

@media screen and (max-width: 340px) {}

.footer__social-link {

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  color: var(--title-color);
  transition: transform .3s;

}

.footer__social-link:hover {
  transform: translateY(-.15rem);

}

.footer__copy {

  display: flex;
  margin-top: 4rem;
  font-size: var(--small-font-size);
  color: var(--text-color-light);


}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(207, 4%, 75%);

}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: .5rem;

}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
  border-radius: .5rem;

}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsl(207, 24%, 35%, .15);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem;
  font-size: 1.1rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom .3s, transform .3s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

.show-scroll {
  bottom: 7.5rem;
}

/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;


  }

  .nav__menu {
    padding-bottom: 4rem;

  }

  .nav__list {
    gap: 1rem 1.25rem;

  }

  .skills__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__img {
    width: 200px;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {

  .nav {
    width: 60%;

    background-color: var(--container-color);



  }

  .nav__menu {
    background-color: var(--container-color);

  }

}

/* For medium devices */
@media screen and (min-width: 576px) {


  .nav,
  .nav__menu {
    width: 380px;

  }

  .nav {
    margin: 0 auto;


  }

  .skills__container {
    justify-content: center;

  }

  .projects__container,
  .testimonial__container {
    width: 400px;
  }

  .projects__container {
    overflow: hidden;
  }

  .projects__container .swiper-button-prev {
    left: 1rem;
  }

  .projects__container .swiper-button-next {
    right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .contact__content {
    width: 100%;
    margin: auto;
  }

  .contact__container {
    padding: 2em;
    
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: 1fr 2fr 1fr;

  }


  .home__data {
    order: 2;
  }

  .home__info:nth-child(3) {
    order: 3;
    text-align: right;
  }

  .home__info {
    margin-top: 10rem;

  }

  .home__info-description {
    padding-right: 0;
  }

  .skills__container,
  .qualification__container,
  .services__container {
    grid-template-columns: repeat(2, max-content);

  }

  /* .contact__container {
    grid-template-columns: repeat(1, max-content);
  } */

  .skills__container,
  .services__container {
    column-gap: 5rem;

  }

  .qualification__container {
    justify-content: center;
    /* column-gap: rem; */
  }

  .projects__container {
    width: 500px;
  }

  .contact__form {
    width: 360px;
  }

  .contact__container {
    justify-content: center;
    column-gap: 8rem;

  }

}

/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: .4s;


  }

  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;

    margin-inline: 1.5rem;
    padding: 0;





  }

  .nav__link i,
  .nav__close,
  .nav__toggle {
    display: none;


  }

  .nav__menu {
    width: initial;
    margin-left: auto;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: background .4s;

  }

  .nav__list {
    padding: 1rem;
    display: flex;
    column-gap: 2rem;

  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .dark-theme .nav,
  .dark-theme .nav__menu {
    background: transparent;
    backdrop-filter: blur(10px);

  }

  .change-theme {
    color: var(--text-color-light);

  }


  .change-theme:hover {
    color: var(--title-color);
  }

  .section {
    padding-block: 8rem 0;
  }

  .home__title {
    font-size: 2.25rem;

  }

  .scrollup {
    right: 3rem;

  }

  .show-scroll {
    bottom: 5rem;

  }

  /* change background header */


  .dark-theme .bg-header {
    box-shadow: 0 6px 24px hsl(207, 24%, 8%, .6);
  }
}

@media screen and (min-width:1048px) {

  .container {
    margin-inline: auto;

  }

}

@media screen and (min-width:1200px) {
  .section__border {
    padding-bottom: 6rem;
  }

  .section__subtitle {
    margin-bottom: 5rem;

  }

  .home__title {
    font-size: var(--biggest-font-size);
  }

  .home__blob {
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;

  }

  .home__perfil {
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;

  }

  .home__perfil img {
    /* width: 300px; */
    width: 350px;
    padding-top: 2rem;
  }

  .home__shape-wawes {
    width: 100px;
    left: -4rem;
    top: 10rem;

  }

  .home__shape-circle {
    width: 250px;
    bottom: -1rem;
    right: -5rem;

  }

  .home__data {
    row-gap: 2.5rem;

  }

  .home__social {
    column-gap: 2rem;

  }

  .home__social-link {
    font-size: 1.5rem;

  }

  .home__info {
    /* grid-template-columns: repeat(5, 130px); */
    row-gap: 5rem;
    margin-top: 16rem;

  }


  .skills__container {
    column-gap: 10rem;

  }

  .skills__title {
    margin-bottom: 3rem;

  }

  .skills__title i {
    font-size: 1.25rem;

  }

  .skills__name {
    font-size: var(--normal-font-size);

  }

  .skills__info {
    gap: 3rem;
  }

  .qualification__container {
    row-gap: 3rem;
    /* column-gap: 14rem; */

  }

  .qualification__title {
    margin-bottom: 3rem;


  }

  .qualification__title i {
    font-size: 1.25rem;

  }

  .qualification__name {
    font-size: var(--h3-font-size);


  }


  .qualification__img {
    width: 300px;
    left: -6rem;
    bottom: 5rem;
  }

  .services__container {
    grid-template-columns: repeat(3, max-content);
  }

  /* .services__card {
    width: 240px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 3.5rem 1.5rem;


  } */

  .services__card i {
    font-size: 2.5rem;

  }


  .projects__container {
    width: 900px;

  }

  .projects__container .swiper-button-prev,
  .projects__container .swiper-button-next {
    z-index: 99;
    font-size: 3rem;

  }

  .projects__container .swiper-button-prev {
    left: -1rem;
  }

  .projects__container .swiper-button-next {
    right: -1rem;

  }


  .projects__container .swiper-slide {
    margin-bottom: 6.5rem;

  }


  .projects__img {
    width: 320px;
    margin-bottom: 2rem;

  }


  .testimonial__container {
    width: 580px;
    column-gap: 5rem;

  }

  .testimonial__container .swiper-button-prev,
  .testimonial__container .swiper-button-next {
    font-size: 2.5rem;

  }

  .testimonial__container .swiper-button-prev {
    left: calc(50% - 5rem);
  }

  .testimonial__container .swiper-button-next {
    right: calc(50% - 5rem);


  }

  .testimonial__container .swiper-slide {
    margin-bottom: 2rem;
  }

  .testimonial__description {
    font-size: var(--small-font-size);


    margin-bottom: 4rem;

  }

  .testimonial__img {
    width: 200px;
    top: 13rem;
    right: 4rem;
  }

  .contact__title {

    margin-bottom: 3rem;

  }

  .contact__title i {
    font-size: 1.25rem;
  }

  .contact__info {
    row-gap: 3rem;

  }

  .contact__data-info {
    font-size: var(--normal-font-size);
  }

  .contact__form {
    row-gap: 2.5rem;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__list {

    display: flex;
    justify-content: center;
    align-items: center;


  }


  .footer__social-link {
    font-size: 1.5rem;
  }

  .footer__copy {
    margin-top: 5rem;
  }
}

@media screen and (max-width:1024px) {
  .qualification__info {
    flex-direction: column;
    gap: 1em;
  }
}


@media screen and (max-width:575px) {
  .qualification__info .work-detailsss {
    width: 380px;
    height: 300px;
  
  }

}

/* =======================Pre Loader effect========================= */


.cssload-preloader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}

.cssload-preloader>.cssload-preloader-box {
  position: absolute;
  height: 29px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -146px;
  perspective: 195px;
  -o-perspective: 195px;
  -ms-perspective: 195px;
  -webkit-perspective: 195px;
  -moz-perspective: 195px;
}

.cssload-preloader .cssload-preloader-box>div {
  position: relative;
  width: 29px;
  height: 29px;
  background: rgb(204, 204, 204);
  float: left;
  text-align: center;
  line-height: 29px;
  font-family: Verdana;
  font-size: 19px;
  color: rgb(255, 255, 255);
}

.cssload-preloader .cssload-preloader-box>div:nth-child(1) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 0ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 0ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 0ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(2) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 86.25ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 86.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(3) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 172.5ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 172.5ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(4) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 258.75ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 258.75ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(5) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 345ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 345ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 345ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 345ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 345ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(6) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 431.25ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 431.25ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(7) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
}

.cssload-preloader .cssload-preloader-box>div:nth-child(8) {
  background: rgb(2, 9, 29);
  margin-right: 15px;
  animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -o-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -ms-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -webkit-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
  -moz-animation: cssload-movement 690ms ease 517.5ms infinite alternate;
}

@keyframes cssload-movement {
  from {
    transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    transform: scale(1.5) translateY(-24px) rotateX(45deg);
    box-shadow: 0 24px 39px rgb(196, 3, 71);
    background: rgb(241, 50, 66);
  }
}

@-o-keyframes cssload-movement {
  from {
    -o-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    -o-transform: scale(1.5) translateY(-24px) rotateX(45deg);
    box-shadow: 0 24px 39px rgb(51, 102, 255);
    background: rgb(51, 102, 255);
  }
}

@-ms-keyframes cssload-movement {
  from {
    -ms-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    -ms-transform: scale(1.5) translateY(-24px) rotateX(45deg);
    box-shadow: 0 24px 39px rgb(51, 102, 255);
    background: rgb(51, 102, 255);
  }
}

@-webkit-keyframes cssload-movement {
  from {
    -webkit-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    -webkit-transform: scale(1.5) translateY(-24px) rotateX(45deg);
    box-shadow: 0 24px 39px rgb(51, 102, 255);
    background: rgb(51, 102, 255);
  }
}

@-moz-keyframes cssload-movement {
  from {
    -moz-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  to {
    -moz-transform: scale(1.5) translateY(-24px) rotateX(45deg);
    box-shadow: 0 24px 39px rgb(51, 102, 255);
    background: rgb(51, 102, 255);
  }
}



/* pop up review */

/* Styles for the "Write a Review" button */
.write-review-button {
  margin-top: 10em;
 
  background-color: var(--container-color); /* Background color */
  color: var(--title-color); /* Text color */
  padding: 15px 15px; /* Padding around the text */
  border: none; /* No border */
  border-radius: 50px; /* Rounded corners to make it unique */
  font-size: 1em; /* Font size */
  cursor: pointer;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); Box shadow for depth */
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Smooth transitions */
}


/* Hover effect */
.write-review-button:hover {
  transform: scale(1.05); /* Slight scale up on hover */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Enhanced box shadow on hover */
}

/* Active effect (when clicked) */
.write-review-button:active {
  transform: scale(0.95); /* Slight scale down when clicked */
  box-shadow: none; /* Remove box shadow when clicked */
}


.review-popup {
display: none;
position: fixed;
top: 0;
left: 0;
padding: 2em;
width: 100%;
height: 100%;
background-color: rgb(255, 255,255, 0.1);
justify-content: center;
align-items: center;
z-index: 999;
}

.review-form {
background-color:var(--body-color);
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
width:450px;
text-align: flex-start;
}

.review-form h3 {
margin-bottom: 20px;
}

.form-group {
margin-bottom: 20px;
}

.form-group label {
display: block;
margin-bottom: 5px;
}
.form-group input{
  background-color: var(--container-color);
  color: var(--title-color);
}

.form-group input,
.form-group textarea {
width: 100%;
padding: 10px;
border: 1px solid var(--title-color);
border-radius: 5px;
font-size: 16px;
}

.form-group textarea {
resize: vertical;
}

button[type="submits"] , button[type="button"]{
background-color: var(--container-color);
color: var(--text-color);
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}
 
/* Styles for responsiveness */
@media (max-width: 768px) {
.review-form {
max-width: 100%;
padding: 20px;
}
}





@keyframes massiveAnimation {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Apply the bounce animation to the message */
.color-blue.animated {
  animation: bounceAnimation 1s ease-in-out;
}
.color-blur-holder{
  position: relative;
  z-index: -1000;
}
.color-blur{
  position: absolute;
  width:150px;
  height: 150px;
  background-color: var(--title-color);
  z-index: -25;
  /* z-index: -999; */
  filter: blur(120px);
 
}
.blur-right{
right: 0;
}
.blur-footer{
  width: 100px;
 right: 50%;


}

@media  screen and (max-width:768px) {
  .color-blur{
    width:100px;
    height: 100px;
    filter: blur(100px);
}

}